/*!
 * MyTh Ahmed Faiz Copyright © 2016-2023 All rights reserved.
 * Email: mythpe@gmail.com
 * Mobile: +966590470092
 * Website: https://www.4myth.com
 * Github: https://github.com/mythpe
 */
.touch {
  .m--dt-btn-tooltip {
    display: none !important;
  }
}

.m--container {
  padding: 8px;
}

.flex-break {
  flex: 1 0 100% !important
}

.row .flex-break {
  height: 0 !important
}

.column .flex-break {
  width: 0 !important
}

.m--row + .m--row,
.m--form + .m--row,
.m--row + .m--form {
  margin-top: 1rem;
}

.rtl {
  direction: ltr !important
}

.ltr {
  direction: rtl !important
}


.text-decoration-none {
  text-decoration: none;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-line-through {
  text-decoration: line-through;
}


.m--confirm.actions-between {
  .q-card__actions {
    justify-content: space-between !important;
  }
}

.pre {
  max-width: 100%;
  white-space-collapse: preserve-breaks;
  white-space: pre-line;
}

.text-wrap {
  text-wrap: wrap;
}

.break-inside-avoid {
  page-break-inside: avoid;
}

.break-after-avoid {
  page-break-after: avoid;
}

.break-before-avoid {
  page-break-before: avoid;
}

$alignsX: ('top', 'bottom') !default;
$alignsY: ('left', 'right') !default;
$radius-class-name: 'border-rounded' !default;
$radius-value: $generic-border-radius !default;
$bordered-class-name: 'bordered' !default;
$bordered-size: 1px !default;
$bordered-style: $bordered-size solid $primary !default;

.#{$radius-class-name} {
  border-radius: $radius-value;
}

.#{$bordered-class-name} {
  border: $bordered-style;
}

@each $x in $alignsX {
  .bordered-#{$x} {
    border-#{$x}: $bordered-style;
  }
  .#{$radius-class-name}-#{$x} {
    border-#{$x}-left-radius: $radius-value;
    border-#{$x}-right-radius: $radius-value;
  }

  @each $y in $alignsY {
    .#{$radius-class-name}-#{$x}-#{$y} {
      border-#{$x}-#{$y}-radius: $radius-value;
    }

    .#{$radius-class-name}-#{$y} {
      border-bottom-#{$y}-radius: $radius-value;
      border-top-#{$y}-radius: $radius-value;
    }

    .bordered-#{$y} {
      border-#{$y}: $bordered-style;
    }
  }
}
