/*!
 * MyTh Ahmed Faiz Copyright © 2016-2023 All rights reserved.
 * Email: mythpe@gmail.com
 * Mobile: +966590470092
 * Website: https://www.4myth.com
 * Github: https://github.com/mythpe
 */

.myth-transition__fade-enter-from,
.myth-transition__fade-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.myth-transition__fade-enter-active,
.myth-transition__fade-leave-active {
  transition: all .3s ease;
}

// .myth-transition__fade-enter-to,
// .myth-transition__fade-leave-from {
// transform: translateY(0);
// }

// .myth-transition__fade-enter-to {
//   opacity: 1;
//   transform: translateY(0);
// }


// .myth-transition__fade-leave-from {
//   opacity: 1;
//   transform: translateY(0);
// }
