/*!
 * MyTh Ahmed Faiz Copyright © 2016-2023 All rights reserved.
 * Email: mythpe@gmail.com
 * Mobile: +966590470092
 * Website: https://www.4myth.com
 * Github: https://github.com/mythpe
 */

.myth-transition__fade-enter-from,
.myth-transition__fade-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.myth-transition__fade-enter-active,
.myth-transition__fade-leave-active {
  transition: all .3s ease;
}

.myth-transition__fade-x-enter-from,
.myth-transition__fade-x-leave-to {
  opacity: 0;
  transform: translateX(-20px);
}

.myth-transition__fade-x-enter-active{
  transition: all .3s ease;

}
.myth-transition__fade-x-leave-active {
  transition: all .1s ease;
}

// .myth-transition__fade-enter-to,
// .myth-transition__fade-leave-from {
// transform: translateY(0);
// }

// .myth-transition__fade-enter-to {
//   opacity: 1;
//   transform: translateY(0);
// }


// .myth-transition__fade-leave-from {
//   opacity: 1;
//   transform: translateY(0);
// }


.m__transition__fade-move, /* apply transition to moving elements */
.m__transition__fade-enter-active,
.m__transition__fade-leave-active {
  transition: all 0.5s ease;
}

.m__transition__fade-enter-from,
.m__transition__fade-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.m__transition__fade-leave-active {
  position: absolute;
}
